main {
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    font-family: "Mukta", sans-serif;
}

/* Main Header */
.navbar {
    display: grid;
    align-items: center;
}

.logo img {
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: auto;
}

#h1 {
    font-size: 35px;
    font-family: "Exo 2", sans-serif;
}


/* Input Container */
.color-section {
    background-color: rgb(227, 230, 236);
    padding: 8px;
    border-radius: 8px;
}

#gender {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}


button {
    margin: 3px;
    width: 100%;
    padding: 7px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


/* Display none for desktop version */
#ket-mobile {
    display: none;
}


/* Styling untuk div hasil kalkulasi */
.result {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.result p {
    color: #666;
    font-size: 16px;
    margin: 5px 0 15px;
}


/* Styling untuk teks hasil BMI */
#bmiValue {
    font-size: 36px;
    font-weight: bold;
    color: #2a9d8f;
}

#bmiInterpretation {
    font-size: 18px;
    color: #264653;
    margin-top: 10px;
}

#healthTips {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}


/* Style for the alert */
.alert {
    display: none;
    color: rgb(252, 5, 5);
    text-align: center;
    font-size: 12px;
    margin-bottom: 7px;
}


/* Form Information styling */
.form-information {
    text-align: left;
}

article {
    text-align: justify;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}

img {
    max-width: 100%;
    height: auto;
}


/* Footer */
footer {
    text-align: center;
    font-size: 12px;
    font-family: "Mukta", sans-serif;
}


/* Media query untuk mobile */
@media (max-width: 768px) {
    main {
        display: block;
    }
    .color-section {
      flex: 1 1 100%;
    }
    #ket-mobile {
        display: block;
        color: #555;
    }
  }
